* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid #000000;
}

.clubNordelta {
  text-decoration: none;
}

header {
  border-top: 0px;
  color: #e08514;
  position: relative;
  justify-content: space-between;
  top: 0px;
  background-color: #000000;
}

h1 {
  color: #e08514;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarFull {
  color: #e08514;
  justify-content: end;
}

.logoLufe {
  width: 180px;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.navLink {
  text-transform: uppercase;
  color: #e08514;
  display: flex;
  padding: 10px;
  border-radius: 50px;
}

.navLink:hover {
  color: #000000;
  background-color: #e08514;
}

.navbar-toggler-icon {
  background-color: #e08514;
}

footer {
  display: flex;
  bottom: 0px;
  color: #e08514;
  background-color: #000000;
  align-items: center;
}

.logoLufe2 {
  width: 180px;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.Derechos {
  display: flex;
  width: 100%;
  color: #e08514;
  justify-content: center;
  align-items: center;
}

.logoWhatsapp {
  width: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.entrenaConNosotros {
  position: fixed;
  bottom: 20px;
  right: 130px;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  background-color: #58CF45;
  padding: 9px 25px;
  border-radius: 40px;
}

.cardsStaff {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.cardBody {
  background-color: white;
  border: 1px solid white;
}

.cardBody {
  width: 100%;
  height: 100%;
}

.cardServicios {
  border: none;
  color: #e08514;
}

.cardTitle {
  color: #e08514;
  background-color: #000000;
  text-align: center;
}

.btnInfo {
  color: #000000;
  background-color: #e08514;
  border: none;
}

.btnInfo:hover {
  color: #e08514;
  background-color: #000000;
}

.cardText {
  color: #000000;
}

.form {
  background-color: #e8e8e8;
  width: 100%;
}

.formArea {
  padding-top: 5%;
}

.rowform {
  box-shadow: 0 2px -5px black;
  background: #fff;
}

.left {
  background-color: #e08514;
  padding: 200px 98px;
}

.left h2 {
  font-family: poppins;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
}

.left h2 span {
  font-weight: 100;
}

.right {
  padding: 70px 100px;
  position: relative;
}

.right i {
  position: absolute;
  font-size: 80px;
  left: -27px;
  top: 40%;
  color: #fff;
}

.formControl {
  border: 0, 5px solid #000;
}

.formControl :hover {
  border: 2px solid #000;
}

.formText {
  color: #000000;
}

.right button {
  border: none;
  border-radius: 0;
  background: #e08514;
  width: 180px;
  color: #000000;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.right button:hover {
  color: #e08514;
  background-color: #000000;
}

@media (min-width: 768px) and (max-width: 991px) {
  .right i {
    top: -52px;
    transform: rotate(90deg);
    left: 50%;
  }
}
@media (max-width: 767px) {
  .left {
    padding: 90px 15px;
    text-align: center;
  }
  .left h2 {
    font-size: 25px;
  }
  .right {
    padding: 25px;
  }
  .right i {
    top: -25px;
    transform: rotate(90deg);
    left: 45%;
  }
  .right button {
    width: 150px;
    padding: 12px 0;
  }
}

/*# sourceMappingURL=estilo.css.map */
