.cardsStaff {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.cardBody {
    @include cardBody;
}

.cardBody {
    @include cardImagen;
}

.cardServicios{
    border: none;
    color: $color-fuentes;
}

.cardTitle {
    @include cardTitle;
}

.btnInfo {
    @include btnInfo;
}

.btnInfo:hover{
    color: $color-fuentes;
    background-color: $color-fondo;
}

.cardText{
    color: $color-fuentes;
    
}