footer {
    display: flex;
    bottom: 0px;
    color: $color-fuentes;
    background-color: $color-fondo;
    align-items: center;
}

.logoLufe2 {
    @include logoLufe
}

.Derechos {
    display: flex;
    width: 100%;
    color: $color-fuentes;
    justify-content: center;
    align-items: center;
}