footer {
    display: flex;
    bottom: 0px;
    color: #e08514;
    background-color: black;
    align-items: center;
}

.logoLufe2 {
    width: 180px;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.Derechos {
    display: flex;
    width: 100%;
    color: #e08514;
    justify-content: center;
    align-items: center;
}