header {
    border-top: 0px;
    color: $color-fuentes;
    position: relative;
    justify-content: space-between;
    top: 0px;
    background-color: $color-fondo;
}

h1 {
    color: $color-fuentes;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarFull {
    color: $color-fuentes;
    justify-content: end;
}

.logoLufe {
    @include logoLufe
}

.navLink {
    @include navLink;
}


.navLink:hover {
    color: $color-fondo;
    background-color: $color-fuentes;
}

.navbar-toggler-icon {
    background-color: $color-fuentes;
}