@mixin navLink {
    text-transform: uppercase;
    color: $color-fuentes;
    display: flex;
    padding: 10px;
    border-radius: 50px;
}

@mixin cardBody {
    color: blue;
    background-color: white;
    border: 1px solid white;
}