@mixin navLink {
    text-transform: uppercase;
    color: $color-fuentes;
    display: flex;
    padding: 10px;
    border-radius: 50px;
}

@mixin cardBody {
    color: blue;
    background-color: white;
    border: 1px solid white;
}

@mixin logoLufe {
    width: 180px;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: flex-start
}

@mixin cardImagen {
    width: 100%;
    height: 100%;
}

@mixin cardServicios{
    border: none;
}