.logoWhatsapp {
    width: 80px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.entrenaConNosotros {
    position: fixed;
    bottom: 20px;
    right: 130px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    background-color: $color-wpp;
    padding: 9px 25px;
    border-radius: 40px;
}